name: Continuous Benchmarking

on:
  push: 
    branches:
      - main    # Specify the launch trigger.  Push selected in the main branch.

permissions:
  contents: write  # Grant permission to commit the results to the repository (for example, to the gh-pages branch).
  deployments: write

jobs:
  benchmark:
    name: Run BenchmarkDotNet and Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Run benchmarks
        run: |
          cd TestBenchmarkDotNet/TestBenchmarkDotNet.csproj
          # The flag "--exporters json" tells BenchmarkDotNet to add a JSON exporter (Brief by default) in case you haven't marked it with attributes.
          # The filter means “run all benchmarks” (mask *).
          dotnet run -c Release --exporters json --filter '*'

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1 # This Action is designed to collect and save performance results with various tools, including BenchmarkDotNet.
        with:
          name: BenchmarkDotNet Results # Name of the benchmark set (arbitrary label). It will be displayed on the graph page as the graph title
          tool: 'benchmarkdotnet' # Indicates that the input data is in BenchmarkDotNet format. This Action supports multiple languages/benchmark frameworks; here we explicitly choose .NET BenchmarkDotNet.
          output-file-path: BenchmarkDotNet.Artifacts/results/TestBenchmarkDotNet.Md5VsSha256-report-full-compressed.json # Path to the JSON file with the result generated by BenchmarkDotNet
          github-token: ${{ secrets.GITHUB_TOKEN }} # Pass the GitHub token to the Action. This is a standard secret available within Actions.
          auto-push: true.yml # Includes automatic push of results. That is, Action will perform git commit and git push itself to add new results to the repository (to the GitHub Pages branch, described below).
          alert-threshold: '110%' # Threshold for alerting about performance regression.
          comment-on-alert: true # When regression above the threshold is detected, Action will leave a comment on the commit (and on the related pull request, if any) with information about the performance degradation. 
          fail-on-alert: true # If regression is detected, the workflow will return a non-zero code (fail). This means that the build itself will be marked as failed in GitHub Actions.
          alert-comment-cc-users: '@SIliushchenko' # List of users (separated by commas) to mention (@) in comments during regression.

      # - name: Store benchmark result (separate repo) 
      #   uses: benchmark-action/github-action-benchmark@v1
      #   with:
      #     name: BenchmarkDotNet Results
      #     tool: 'benchmarkdotnet'
      #     output-file-path: BenchmarkDotNet.Artifacts/results/<ВАШ_ФАЙЛ>-report-full-compressed.json
      #     github-token: ${{ secrets.BENCHMARK_ACTION_BOT_TOKEN }}
      #     auto-push: true
      #     alert-threshold: '200%'
      #     comment-on-alert: true
      #     fail-on-alert: true
      #     alert-comment-cc-users: '@YourGitHubUsername'
      #     gh-repository: 'YourUsername/your-benchmarks-results-repo'
